{% macro navbar(user) %}

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Informações de usuário</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-md-center mt-4">
          <div class="col-md-auto text-center align-center">
              <img src="{{ url_for('static', filename='img/icons/icons8-male-user-96.png') }}" >
              <h1 class="h3 ">{{ user.name }}</h1>
          </div>
      </div>
      <div class="row justify-content-md-center mt-4">
          <div class="col col-md-auto"><p class="fw-bold">Email:</p> {{ user.email }}</div>
          <div class="col col-md-auto"><p class="fw-bold">CPF:</p> {{ user.cpf }}</div>
      </div>      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
        <a href="{{ url_for('auth.edit_profile') }}" class="btn btn-primary">Editar</a>
      </div>
    </div>
  </div>
</div>

<nav class="p-2 navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand" href="/">Critical Monitor</a>
  {% if user.is_authenticated %}
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('monitor.home') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('monitor.config') }}">Salas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('monitor.occurrences') }}">Ocorrências</a>
      </li>
    </ul>
  </div>
  <span class="navbar-text">
    <button class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#exampleModal">{{ user.name }}</button>
  </span>
  <a class="btn btn-outline-secondary mr-4" href="{{ url_for('auth.logout') }}">Sair</a>
  {% else %}
  <a class="btn btn-outline-secondary " href="{{ url_for('auth.signin') }}">Entrar</a>
  {% endif %}
</nav>
{% endmacro %}