{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/signin.css')}}">
{% endblock %}
{% block content %}
<div class="signin-container text-center">
    <form class=".form-signin " action="" , method="POST">
        <h1 class="h3 mb-3 font-weight-normal">Fala login para continuar</h1>
        {{ form_signin.csrf_token }}
        <div class="form-floating mb-4">
            {{ form_signin.cpf(id='input-cpf',class='form-control',autofocus=True, placeholder='000.000.000-00') }}
            <label for="input-cpf" >CPF</label>
            {% for err in form_signin.errors.cpf %}
            <span class="text-danger">{{err}}</span>
            {% endfor %}
        </div>
        <div class="form-floating mt-3">
            {{ form_signin.password(id="input-password", class='form-control', placeholder='********') }}
            <label for="input-password" >Senha</label>
            {% for err in form_signin.errors.password %}
            <span class="text-danger">{{err}}</span>
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form_signin.remember_me() }}
            <label class="form-label mt-3">Permanecer logado</label>
        </div>
        <button type="submit" class="mt-3 btn btn-dark">Entrar</button>
        <a class="mt-3 link-info" href="{{ url_for('auth.signup') }}">Ainda não tem conta? Cadastre-se!</a>
    </form>
   

</div>
{% endblock %}
{% block script %}
{% endblock %}