{% extends 'base.html' %}

{% block content %}

    <div class="row">
        <div class="col">
            <select class="form-select" aria-label="Default select example">

                {% for config in configs %}
                    <option>{{ config.room_name }}</option>
                {% endfor %}
            </select>

            <!-- <img src="<img src="{{ url_for('monitor.video_feed') }}" width="50%">e -->
            <!-- <img src="{{ url_for('monitor.video_feed') }}" width="50%"> -->
        </div>
    </div>
{% endblock %}