#video-feed {
    position: relative;
    width: 100%;
    height: auto;
    border: 2px solid #000;
    cursor: pointer;
}


#video-feed:hover {
    filter: brightness(50%);
}

.brightness {
    filter: brightness(50%);
}

#video-feed:hover + .stop {
    display: block;
}


.img-container { 
    position: relative; 
}
.img-container .icon-control { 
    display: none;
    position: absolute; 
    bottom:50%; 
    left:50%; 
    transform: translate(-50%, 50%);
    cursor: pointer;
    z-index: 100000;
}