<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Critical Monitor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-5.1.0-dist/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap-5.1.0-dist/js/bootstrap.min.js') }}" ></script>
    {% block head %} {% endblock %}
  </head>
<body>

    {% block sidebar %}{% endblock %}

      <main>

        <div class="container">
          {% with messages = get_flashed_messages() %}
        {% if messages %}
             <div class="alert alert-danger mt-4" role="alert">
             <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
             </div>

         {% endif %}
    {% endwith %}
          {% block content %} {% endblock %}
        </div>
      </main>

      <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>

      {% block script %} 
      
      {% endblock %}
</body>
</html>