{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}


<form action="" , method="POST">
    {{ form_signup.csrf_token }}
    <div class="form-group">
        <label class="form-label" for="">Nome Completo</label>
        {{ form_signup.name(class='form-control') }}
        {% if form_signup.errors.name %}
        <span class="text-danger">{{form_signup.errors.name}}</span>
        {% endif %}
    </div>
    <div class="form-group">
        <label class="form-label" v for="">Email</label>
        {{ form_signup.email(class='form-control') }}
        {% for err in form_signup.errors.email %}
            <span class="text-danger">{{err}}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        <label for="">CPF</label>
        {{ form_signup.cpf(class='form-control') }}
        {% for err in form_signup.errors.cpf %}
        <span class="text-danger">{{err}}</span>
        {% endfor %}
    </div>
    <div class="form-group">
        <label class="form-label" for="">Senha</label>
        {{ form_signup.password(class='form-control') }}
        {% for err in form_signup.errors.password %}
            <span class="text-danger">{{err}}</span>
        {% endfor %}

    </div>
    <div class="form-group">

        <label class="form-label" for="">Confirme sua senha</label>
        {{ form_signup.repeat_password(class='form-control') }}
        {% for err in form_signup.errors.repeat_password %}
            <span class="text-danger">{{err}}</span>
        {% endfor %}
    </div>

    <button type="submit" class="mt-3 btn btn-dark">Enviar</button>

</form>


{% endblock %}

{% block script %}
{% endblock %}